<% @coupons.each do |coupon| %>
  <div><h3>Coupon code: <%= link_to coupon.coupon_code, coupon_path(coupon) %></h3></div>
  <div><h3>Store: <%= link_to coupon.store, coupon_path(coupon) %></h3></div>
<% end %>